:root {
    --start-x: 0px;
    --start-y: 0px;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: white;
}

button {
    position: absolute;
    z-index: 1;
}

div {
    position: absolute;
}

#arena {
    width: 100%;
    height: 100vh;
    display: flex;
}

.text-group {
    position: absolute;
    display: flex;
}

.text {
    display: flex;
    position: relative;
    font-size: 10vw;
    animation: movein 0.5s ease-out forwards;
    transform: translate(var(--start-x), var(--start-y));
}

.fadeout {
    animation: movein 0.5s ease-out forwards,
        fadeout 0.5s forwards;
}

@keyframes movein {
    to {
        transform: translate(0, 0);
    }
}

@keyframes fadeout {
    to {
        opacity: 0%;
    }
}