:root {
    --start-x: 0px;
    --start-y: 0px;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: white;
}

button {
    position: absolute;
    z-index: 1;
}

div {
    position: absolute;
}

#arena {
    width: 100%;
    height: 100vh;
    display: flex;
}

#lyrics, #telegraphs {
    position: absolute;
    width: 100%;
    height: 100%;
}

.text-group {
    position: absolute;
    display: flex;
}

.text {
    position: absolute;
    display: block;
    font-size: 10vw;
    line-height: 1;
    animation: movein 1s ease-out forwards;
    transform: translate(var(--start-x), var(--start-y));
}

.text-word {
    position: absolute;
}

.fadeout-movein {
    animation: movein 1s ease-out forwards,
        fadeout 0.5s forwards;
}

@keyframes movein {
    to {
        transform: translate(0, 0);
    }
}

.pos-telegraph {
    position: absolute;
    width: 3vw;
    aspect-ratio: 1;
    background-color: #fff;
    opacity: 0.5;
}

.fadeout {
    animation: fadeout 0.5s forwards;
}

@keyframes fadeout {
    to {
        opacity: 0%;
    }
}